<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/about-us">About-Us</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/products">Products</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/view-cart">View-Cart</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/check-out">Check-Out</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/edit-cart">Edit-Cart</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/contact-us">Contact-US</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/purchased-successfully">Purchased</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/failed">Failed</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" style="cursor: pointer;" routerLink="/managementmodule/user-login" ><i class="fa-solid fa-user"></i>sign-in</a>
          </li>


        </ul>

      </div>
    </div>
  </nav>
